/***** initials setting  ******/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.largest-container {
  height: 100vh;
}

/*********** main side of the webpage  ***********/

.top-main-side {
  height: 85%;
  flex-direction: row;
}

/* custom spotify logo  */
.spotify-logo {
  width: 100px;
  margin: 10px 0px 10px 0px;
}

/* dimension and position of the nav-bar's elements */
.DimSvgNav {
  width: 20px;
  margin-right: 5px;
}
/* setting space between item of nav bar  */
.nav-bar {
  justify-content: space-between;
  flex-direction: column;
  width: 15%;
  height: 100%;
  font-weight: 800;
}

.nav-bar > * {
  margin: 0 10px;
}

/* custom list item  */
.nav-bar li {
  font-size: 10px;
  color: grey;
  list-style-type: none;
  line-height: 30px;
}

.nav-bar h6 {
  margin: 10px 0;
}

/* icon plus square beside 'crea playlist'  */
.fa-plus-square {
  color: grey;
  font-size: 30px;
  margin-right: 10px;
}

/* custom icon profile at the bottom of the nav bar  */
.icon-profile {
  background-image: url(../img/profile.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: grey;
  border-radius: 50%;
  background-position: center;
}

#install-app {
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
}

/*********** bottom main side of the wepage where is situated the play or stop of the music  ***********/

.bottom-main-side {
  height: 15%;
}

/******** UTILITY(background color ecc..) *******/

/* display flex  */
.flex {
  display: flex;
}

/* display block  */
.d-block {
  display: block;
}

/* display none  */
.d-none {
  display: none;
}

/* color white  */
.c-white {
  color: white;
}

/* color grey  */
.c-grey {
  color: grey;
}

/* font size 0.8rem  */
.rem0-8 {
  font-size: 0.8rem;
}

.rem0-6 {
  font-size: 0.6rem;
}

/* width 12 px  */
.w12px {
  width: 12px;
}

.w10px {
  width: 10px;
}

/********* DEBUGGING'S TOOLS  *******/

.debug .top-main-side {
  border: 1px solid red;
}

.debug .bottom-main-side {
  border: 1px solid blue;
}

.debug .largest-container {
  border: 2px solid black;
  background-color: black;
}

.debug .nav-bar {
  border: 1px solid pink;
}

.debug .right-side {
  border: 1px solid white;
  height: 100%;
  width: 85%;
}

.debug .top-side-r {
  border: 1px solid yellow;
  width: 100%;
  height: 20%;
}

.debug .center-side-r {
  border: 1px solid green;
  width: 100%;
  height: 80%;
}
