/***** initials setting  ******/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.largest-container {
  height: 100vh;
  background-color: black;
}

/*********** MAIN SIDE of the webpage  ***********/

/* settin height of the main side */

.top-main-side {
  height: 90%;
  flex-direction: row;
}

/********* NAV BAR section  *********/

/* setting space between item of nav bar  */

.nav-bar {
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  font-weight: 800;
  width: 170px;
}

.nav-bar > * {
  margin: 0 10px;
}

/* custom list item  */

.nav-bar li {
  font-size: 10px;
  color: grey;
  list-style-type: none;
  line-height: 30px;
}

.nav-bar h6 {
  margin: 10px 0;
}

/* custom spotify logo  */

.spotify-logo {
  height: 30px;
  margin: 10px 0px 10px 0px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
}

/* dimension and position of the nav-bar's elements */

.DimSvgNav {
  width: 20px;
  margin-right: 5px;
}

/* icon plus square beside 'crea playlist'  */

.fa-plus-square {
  color: grey;
  font-size: 30px;
  margin-right: 10px;
}

.overflow-plyst {
  max-height: 150px;
}

/* custom icon profile at the bottom of the nav bar  */
.icon-profile {
  background-image: url(../img/profile.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: grey;
  border-radius: 50%;
  background-position: center;
}

#install-app {
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
}

/********* END NAV BAR section  *********/

/****** TOP-SIDE of the RIGHT SIDE OF THE WEB PAGE******/

.right-side {
  height: 100%;
  width: 100%;
  position: relative;
}

.top-side-r {
  height: 10%;
  width: 100%;
  background-color: hsl(222deg 38% 5%);
  position: fixed;
  opacity: 0.8;
}

/* button upgrade  */
.upgrade {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 30px;
  text-align: center;
  position: fixed;
  top: 20px;
  right: 5px;
  font-weight: 600;
}

/************** CENTER-SIDE-R of the RIGHT SIDE of the web page *************/
/****** here we have the gallery of the all album with other stuff  ******/

.center-side-r {
  color: white;

  height: 100%;
  padding-top: 80px;
  background-color: hsl(219deg 26% 11%);
}

.exploring-bar {
  height: 40px;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.center-side-r li {
  list-style-type: none;
  color: grey;
  font-size: 0.6rem;
  font-weight: 800;
  display: inline-block;
  margin-left: 15px;
}

.history-bar img {
  height: 125px;
}

.history-bar {
  gap: 10px;
  overflow-y: auto;
}

.song {
  display: flex;
  width: 125px;
  align-items: center;
  flex-direction: column;
}

/************** END CENTER-SIDE-R of the RIGHT SIDE of the web page *************/

/*********** FINISH TOP MAIN SIDE OF THE WEB PAGE ***********/

/*********** BOTTOM MAIN SIDE of the wepage where is situated the play or stop of the music  ***********/

/* size of the section bottom main side  */

.bottom-main-side {
  height: 10%;
  background-color: hsl(0deg 0% 16%);
}

/* size's div of the bottom main side, divide in three div  */

.bottom-main-side > div {
  height: 100%;
  min-width: calc(100% / 3);
}

/* start side of the bottom  */

.start-side {
  align-items: center;
  gap: 0 10px;
}

.start-side img {
  margin-left: 10px;
}

.namesong {
  margin-right: 20px;
}

/* / start side of the bottom  */

/* custom center side of the bottom  */

.center-side {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.minute-song {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.control-song {
  gap: 20px;
  align-items: center;
}

.fa-play {
  border: 3px solid white;
  border-radius: 50%;
  padding: 5px;
}

.bar-minute {
  border-radius: 5px;
  height: 30%;
  width: 80%;
}

/* / custom center side of the bottom  */

/* end side of the bottom  */

.end-side {
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.bar-volume {
  width: 20%;
  border-radius: 5px;
  height: 5%;
  margin-right: 10px;
}

/* / end side of the bottom  */

/***********  END BOTTOM MAIN SIDE of the wepage where is situated the play or stop of the music  ***********/

/******** UTILITY(background color ecc..) *******/

/* display flex  */
.flex {
  display: flex;
}

/* display block  */
.d-block {
  display: block;
}

/* display none  */
.d-none {
  display: none;
}

.d-inlineb {
  display: inline-block;
}

/* color white  */
.c-white {
  color: white;
}

/* color grey  */
.c-grey {
  color: grey;
}

/* font size 0.8rem  */
.rem0-8 {
  font-size: 0.8rem;
}

.rem0-7 {
  font-size: 0.7rem;
}

.rem0-6 {
  font-size: 0.6rem;
}

.rem0-5 {
  font-size: 0.5rem;
}

/* width 12 px  */
.w12px {
  width: 12px;
}

.w10px {
  width: 10px;
}

.fw800 {
  font-weight: 800;
}

.fs15p {
  font-size: 15px;
}

.bg-grey {
  background-color: grey;
}

.bg-white {
  background-color: white;
}

/********* DEBUGGING'S TOOLS  *******/
/* 
.debug .top-main-side {
  border: 1px solid red;
} */

/* .debug .bottom-main-side {
  border: 1px solid blue;
} */

/* .debug .largest-container {
  border: 2px solid black;
} */

/* .debug .nav-bar {
  border: 1px solid pink;
} */

/* .debug .right-side {
  border: 1px solid white;
} */

/* .debug .top-side-r {
  border: 1px solid yellow;
} */

/* .debug .center-side-r {
  border: 1px solid green;
} */

/* .debug .exploring-bar {
  border: 1px solid red;
} */

.debug .history-bar {
  border: 1px solid blue;
  color: white;
}
